/*
	ustawienia dla elementu main 
*/
main {
	display: flex;
	background: yellow; /* może być inny kolor, nawet w szesnastkach */
	
}
aside {
	background: red;
	width: 25%;
}
/* chcąć nadać styl elementowi po id należy
nazwę atrybutu poprzedzić krzyżykiem */ 
#mainsection {
	background: green;
	width: 75%;
	
}
footer {
	background: silver;
	overflow: hidden;
}
button {
	border: 0;
	width: 25%;
	height: 50px;
	background: orange;
} 
nav {
	display: flex;
	overflow: hidden;
	background: orange;
}
/* chcąc nadać styl elementom o takiej samej 
nazwie klasy należy nazwę klasy poprzedzić 
kropką */
.button {
	border: 0;
	width: 25%;
	height: 50px;
	background: rgba(240,0,123,0.2);
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*border: 1px solid transparent;*/
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 10px 0;
}
.button:hover {
	/*border: 1px solid rgb(0,255,0);*/
	border: 1px solid #00FF40FF;
	border-left-color: black;
}